<% form_for([:admin, @style]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :brewery %>
    <%= f.collection_select( :brewery_id, Brewery.all, :id, :name, {:prompt => true}) %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
