<h1>Listing breweries</h1>

<ul>
  <% @breweries.each do |brewery| %>
    <li>
      <%= brewery.name %> -
      <%= link_to 'Show', admin_brewery_path(brewery) %> |
      <%= link_to 'Edit', edit_admin_brewery_path(brewery) %> |
      <%= link_to 'Destroy', admin_brewery_path(brewery), :confirm => 'Are you sure?', :method => :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Brewery', new_admin_brewery_path %> |
<%= link_to 'Administration', admin_path %>
